./terraform/environments/dev/.terraform/*
./terraform/environments/dev/.terraform*

./terraform/environments/prod/.terraform/*
./terraform/environments/prod/.terraform*


./pre_reports/*
./post_reports/*

./reports/*
